$bgColor:#F7F7F7;
$gfxBGCol:#F2FEF1;

$navBGColor:#FFFFFF;
$navButtonColor:#333333;
$navButtonHoverColor:#FF5948;
$navButtonCurrentColor:#FFFFFF;
$navButtonCurrentBackgroundColor:#333333;
$navBorderBottomColor:#EDEDED;


$baseTxtCol:#686868;
$listTxtCol:#B7B7B7;

$linkBtnBGCol:#FF5948;
$linkBtnFGCol:#FFFFFF;

$imgPreviewBGCol:#FFFFFF;
$imgPreviewBorderCol:#DBDBDB;

$articleSelectedBGCol:#FFFFFF;
$articleSelectedDividerCol:#EDEDED;
$articleSummaryTxtCol:#333333;
$articleSummarySelectionBGCol:#FFFFCC;
$articleH1SelectionBGCol:#FFCCEE;
$articleInfoSelectionBGCol:transparent;//#CCEEFF;

$footerBGCol:#FFFFFF;
$footerDividerCol:#EDEDED;
$footerTxtCol:#CACACA;