
.site header{
	padding-top:$expandedNavHeight + em(65);
	padding-bottom:1em;
	text-align:center;

	img{
		max-width:100%;
	}
}
.js .site header{
	padding-bottom:0;
	padding-top:8.5em;

	img.letterForm{
		max-width:100%;
	}
	p.title{
		padding-bottom:0;
		color:#7e7e7e;
		font-size:em(20);
		a{
			color:#333333;
			padding:0 5px;
			text-decoration:none;
			@include vendorPrefixer(transition, background-color .4s linear);
			&:hover, &:focus{
				color:#FFFFFF;
				background-color:#843b84;
			}
		}
		span{
			display:inline-block;
			word-wrap: nowrap;
		}
	}

	@include tabletish{
		padding-top:$expandedNavHeight + em(65);
		padding-bottom:1em;
	}
}