.js .site .projects .imagePreview{
	width:100%;
	height:200px;
	display:block;
	margin:em(20) 0;
	background-color:$imgPreviewBGCol;
	border:1px solid $imgPreviewBorderCol;

	img{
		position:absolute;
		transition:opacity .75s linear;
		&.next{
			opacity:0;
		}
		&.current{
			opacity:1;
			z-index:2;
		}

	}
}