.js nav{
	position:fixed;
	display:block;
	vertical-align:bottom;
	height:$navMobileHeight;
	left:0;
	right:0;
	z-index:5;
	background-color:#FFFFFF;
	background-color:$navBGColor;
	border-bottom:2px solid $navBorderBottomColor;
	@include vendorPrefixer(transition, height .5s linear);

	&.collapsed{
		.homeBtn{
			opacity:1;
			height:em(32);
			perspective: 1000;

			transform: rotateX(0deg);
		}
	}
	.homeBtn{
		opacity:0;
		height:0;
		@include vendorPrefixer(transition, (opacity .35s linear, height .25s linear, transform .35s ease-out));

		//transition: 0.6s;
		transform-style: preserve-3d;
		transform: rotateX(-90deg);
	}
	@include tabletish{
		height:$collapsedNavHeight;
		left:$gfxContentMargin;
		right:$gfxContentMargin;
		margin-left:$gfxWidth;		

		.homeBtn{
			display:block;
			padding:0 0 0 em(10);
			a{				
				padding:$navButtonHeight em(10) em(0) em(10);
			}
		}
	}
	.homeBtn {
		position:relative;
		a{
			display:inline-block;
			width:100%;
			height:em(30);
			background:url(../content/WORKSHOP_large.png) no-repeat center;
			background-size:em(78);
		}
		@include tabletish{
			a{
				background-position:bottom;
				height:em(12);
				width:em(75);
			}
		}
	}
	.sectionButtons{
		display:inline-block;
		left:0;
		right:0;
		bottom:0;		
		padding:0;		
	}
	.homeBtn, .sectionButtons{		
		margin:0;		
		position:relative;
		width:100%;
		@include tabletish{
			width:auto;
			position:absolute;
			left:auto;
			padding:0;
		}
	}
	.navItem{
		display:inline-block;
		width:50%;
		@include tabletish{
			width:auto;
		}
		a{
			padding:10px em(1) em(4) em(1);
			width:100%;
			display:inline-block;
			text-align:center;
			border-right:1px solid $navBorderBottomColor;
			color:$navButtonColor;
			text-decoration:none;			
			transition:background-color .333s linear, color .333s linear;
			@include tabletish{
				width:auto;
				padding:$navButtonHeight em(10) em(6) em(10);
			}
			&:hover{
				color:$navButtonHoverColor;
			}
		}

		&.current a{
			color:$navButtonCurrentColor;
			background-color:$navButtonCurrentBackgroundColor;
		}
	}

}