.site footer{
	position:absolute;
	bottom:-20px;
	height:$footerHeight;
	left:0;
	right:$gfxContentMargin/2;
	text-align:right;
	background-color:$footerBGCol;
	border-top:1px solid $footerDividerCol;
	@include tabletish{
		right:$gfxContentMargin;
	}
	> div{
		padding:em(10);
		font-size:em(12);
		font-family:Arial,Helvetica,sans-serif;
		color:$footerTxtCol;		

		span{			
			&.year{
				font-style:italic;		
			}
			&.company{
				font-weight:700;
			}
		}
	}
}