@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);
html, body{
	background-color:$bgColor;
	margin:0;
	padding:0;
	height:100%;
	
	font-family:"Sorts Mill Goudy",Georgia,serif;
	font-size:1em;
}

.js .site{
	position:relative;
	min-height:100%;
	padding:0;
	margin:0;
	margin-left:$gfxWidth + $gfxContentMargin;

	.content{
		padding-bottom:$footerHeight;
	}

	.noJS{
		display:none;
	}
}