html, body{
	background-color:$bgColor;
	margin:0;
	padding:0;
	height:100%;
	
	font-family:"Sorts Mill Goudy",Georgia,serif;
	font-size:1em;
}

.js {
	.gfx{
		display:none;
		@include tabletish{
			display:block;
		}
	}
	.site{
		position:relative;
		min-height:100%;
		padding:0;
		margin:0;
		margin-left:$gfxContentMargin/2;
		padding-right:$gfxContentMargin/2;

		@include tabletish{
			margin-left:$gfxWidth + $gfxContentMargin;
			padding-right:$gfxContentMargin;
		}
		.content{
			display:block;
			padding-bottom:$footerHeight+20;
		}
		.noJS{
			display:none;
		}
	}
}
.clearFix:after {
	content: "";
	display: table;
	clear: both;
}